.header{
    color: white !important;
}
input {
    border: 1px solid  #ced4da !important;
    border-radius: 0.375rem !important ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; 
    padding: 0.375rem 0.75rem !important;
   
}

input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important; 
    border-color: #80bdff !important; 
}
.table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 10px;
    /* border: 1px solid #dee2e6; */
}


.table thead th {
    background-color: #007bff; 
    font-weight: bold;
    text-align: center;
    color: white;
}


.table td, .table th {
    padding: 12px;
    text-align: center;
}


.table-bordered td{
    /* border: 2px solid #007bff !important;  */
    box-shadow: 0 4px 5px gray;
}
.table-bordered td, .table-bordered th {
    /* border: 1px solid #007bff !important;  */
    border-radius: 10px;
}

.yeniTr {
    background-color: #28a745 !important;
    color: #ffffff; 
    font-weight: bold;
    border: none;
}


.temizle-btn {
    background-color: #4b5341; 
    margin-bottom: 3rem;
}
form {
    margin-top: 20px;
    
}
.azure{
    background-color: aliceblue;
}
.tablo1{
    background-color:honeydew
}
.bi-trash{
    font-size: 1.3rem;
}